html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "left-panel content right-panel"
    "footer footer footer"
}

header {
  margin: 10px;
  grid-area: header;
}

.sidebar {
  margin: 10px;
}

.canvas {
  margin: 10px;
  grid-area: content;
}

.left-panel{
  grid-area: left-panel;
}

.right-panel{
  grid-area: right-panel;
}

footer {
  grid-area: footer;
  margin: 10px;
  font-size: 6pt;
  text-align: right;
}

button {
  display: inline;
  margin-right: 2px;
}

.slider {
  width: 220px;
}

.slider-title {
  margin-block-end: 0em;
}

.slider-label {
  margin-left: 10px;
}

.control-group-title{
  margin-block-end: 1em;
}

@media (width <= 610px) {
.wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto auto;
  grid-template-areas:
    "header"
    "content"
    "right-panel"
    "left-panel"
    "footer"
  }
  .canvas {
    margin: 3px;
  }  
  .sidebar {
    margin: 3px;
  }
  header {
    margin: 3px;
  }  
  header {
    footer: 3px;
  }
}