body {
	font-family: Helvetica;
	padding: 0.2cm;
}

.colorsPanel {
	min-width: 205px;
}

.main {
  display: flex;
	flex-direction: row;
	align-items: flex-start;  /* top-align both panels */
	justify-content: flex-start;
	height: 100vh;
}

ul {
	margin-right: 2px;
	display: inline;
}

li {
	font-size: 8pt;
	padding: 5px;
	text-decoration: none;
	margin: 1px;
	list-style-type: none;
	min-height: 8px;
	min-width: 12px;

}

button {
	margin-bottom: 6px;
	display: block;
}

.radio-option {
	display: inline;
}

fieldset {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

input.slider {
	min-width: 250px;
}

h4 {
	margin-top: 20px;
	margin-bottom: 8px;
}

p {
	margin-bottom: 2px;
}

#left