html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Elza, Helvetica, Arial;
  color: #454545;
}

.wrapper {
  --header-height: 40px;
  --footer-height: 30px;

  min-height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: var(--header-height) 1fr var(--footer-height);
  grid-template-areas:
    "header header header"
    "left-panel content right-panel"
    "footer footer footer"
}

header {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  grid-area: header;
  border-bottom: 1px solid #eeeeee;
}

.sidebar {
  font-size: 10pt;
  padding: 20px;
}

.canvas {
  grid-area: content;
  overflow: hidden !important;
  min-height: 0;
}

#main-canvas-svg{
  display: block;
}

.left-panel{
  grid-area: left-panel;
  border-right: 1px solid #eeeeee;
}

.right-panel{
  grid-area: right-panel;
  border-left: 1px solid #eeeeee;
}

footer {
  grid-area: footer;
  margin: 0px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 6pt;
  text-align: right;
  border-top: 1px solid #eeeeee;
}

button {
  display: inline;
  margin-right: 2px;
}

.checkbox-container {
	display: block;
}

.slider {
  width: 80%;
  margin-bottom: 0.5em;
}

.slider-title {
  margin-block-end: 0em;
  margin-block-start: 0.1em;
}

.slider-label {
  margin-left: 3%;
  min-width: 17%;
  text-align: right;
}

.control-group-title{
  margin-block-end: 0.5em;
  margin-top:0em;
}

.control-group {
  margin-bottom:1em;
}

.collapse-section {
  margin-left: 0.5em;
  margin-bottom:1em;
}

.collapse-section-title {
  margin-top:0em;
  margin-bottom:0.75em;
  cursor: pointer;
}

fieldset {
  border: none;
  padding: 0;
}

@media (width <= 610px) {
.wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto auto;
  grid-template-areas:
    "header"
    "content"
    "right-panel"
    "left-panel"
    "footer"
  }

  .sidebar {
    padding: 3px;
  }
  header {
    padding: 3px;
  }  
  header {
    footer: 3px;
  }
}